@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
@import "../icomoon/icomoon";
/*font-family: 'Montserrat', sans-serif;*/
* {
	box-sizing: border-box;
	margin:0;
	padding: 0;
}

a {
	text-decoration: none;
	
}
html {
	height: 100%;
}

body {
	font-family: 'Montserrat', sans-serif;
	height: 100%;
	background-color: #2f3242;
}

button {
	outline: none;
}

.header_wrapper {
	height: 96px;
	box-shadow: 0 3px 80px rgba(23, 24, 32, 0.2);
	background-color: #2f3242;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo > img {
	padding-left: 29px;
}

.widget {
	display: flex;
	height: 100%;
	justify-content: space-between;
	align-items: center;
	width: 460px;
}

.widget button {
		background-color: #2f3242;
		outline: none;
}

.widget_add {
	padding: 5px;
}



.widget_add > button {
	cursor: pointer;
	width: 133px;
	height: 48px;
	border-radius: 24px;
	border: 2px solid #2196f3;
	color: #fff;
	font-size: 18px;
	letter-spacing: 0.24px;
	outline: none;
}

.widget_add > button span {
	color: #2196f3;
	margin-left: 27px;
}

.widget_search > button, .widget_bell > button {
	border: none;
	padding: 10px;
	cursor: pointer;
}

.widget_user {
	display: flex;
	align-items: center;
}

.widget_user > button {
	outline: none;
	border: none;
	padding: 10px 26px 10px 10px;
	cursor: pointer;
}
.main {
	display: flex;
}

.main, .sidebar {
	height: 100%;
}

.sidebar_wrapper {
	width: 96px;
	height: 100%;
	box-shadow: 0 3px 80px rgba(23, 24, 32, 0.2);
	background-color: #2f3242;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 33px;
}

.sidebar_wrapper > .item button{
	border:none;
	outline: none;
	cursor: pointer;
	background-color: #2f3242;
	color: #757da4;
	transition: all .3s;
	font-size: 28px;
}

.sidebar_wrapper > .item button:hover {
	color: #fff;
}

.sidebar_wrapper > .item:not(:last-child) {
	margin-bottom: 74px;
}

.icon-users{
	text-shadow: 0 0 10px red;
	animation: markBtn 1.5s infinite linear;
}

@keyframes markBtn {
  0%{   	text-shadow: 0 0 0px red;}
  50%{ 	text-shadow: 0 0 10px red; }
  100%{   	text-shadow: 0 0 0px red;}
}

.body {
	width: 100%;
	position: relative;
}

.body_header {
	height: 96px;
	box-shadow: 0 3px 80px rgba(23, 24, 32, 0.2);
	background-color: #2196f3;
	display: flex;
	justify-content: space-between;
}

.body_header_widget {
	width: 400px;
	margin-left: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.body_header_widget .item > button {
	background-color: #2196f3;
	border: none;
	color: #2b2d3c;
	letter-spacing: 0.36px;
	font-size: 18px;
	cursor: pointer;
	transition: all .2s;
} 

.body_header_widget .item > button:hover {
	color: #fff;
}

.body_header_widget .item > button i {
	margin-right: 12px;
}

.body_header_filter {
	display: flex;
	align-items: center;
	padding-right: 25px;
	color: #fff;
}

.body_header_filter > button {
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 18px;
	width: 157px;
	height: 36px;
	margin-left: 24px;
	color: #fff;
	background-color: #2196f3;
	cursor: pointer;
	font-size: 16px;
	letter-spacing: 0.32px;
	transition: all .2s;
}

.body_header_filter > button:hover {
	background-color: rgba(255, 255, 255, 0.3);
}

.body_header_filter > button img {
	margin-left: 64px;
}

.messenger {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.messenger_contacts {
	min-width: 530px;
	max-width: 536px;
	box-shadow: 0 3px 80px rgba(23, 24, 32, 0.3);
	background-color: #2b2d3c;
	position: relative;
	padding-bottom: 115px;
	height: 875px;
}


.messenger_contacts_item {
	height: 190px;
	padding: 40px 24px 55px 60px;
	border-bottom: 1px solid rgba(156, 161, 178, 0.3);
	display: flex;
	flex-wrap: wrap;
	transition: all .2s;
	cursor: pointer;
}

.messenger_contacts_item:hover {
	background-color: #2f3242;
}

.messenger_contacts_item_user {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 29px;
}

.messenger_contacts_item_inner {
	display: flex;
	align-items: center;
}

.messenger_contacts_item_user_photo > img {
	width: 42px;
	height: 42px;
	margin-right: 13px;
}

.messenger_contacts_item_user_name {
	color: #ffffff;
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 0.44px;
}

.messenger_contacts_item_date {
	color: #2196f3;
	font-size: 14px;
	letter-spacing: 0.28px;
}

.messenger_contacts_item_last-letter {
	padding-right: 15px;
	color: #9ca1b2;
	font-size: 16px;
	line-height: 28px;
	letter-spacing: 0.32px;
}

.messenger_contacts_new-coversation {
	position: absolute;
	bottom:  0;
	height: 115px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.btn_new-coversation {
	width: 449px;
	height: 51px;
	border-radius: 5px;
	background-color: #2196f3;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ffffff;
	font-size: 18px;
	letter-spacing: 0.24px;
	cursor: pointer;
	transition: all .2s;
}

.btn_new-coversation:hover {
	background-color: #2196f39e;
}

.btn_new-coversation > span {
	font-size: 28px;
	margin-right: 14px;
}

.messenger_interlocutor-info {
	min-width: 317px;
	max-width: 318px;
	box-shadow: 0 3px 80px rgba(23, 24, 32, 0.3);
	background-color: #2b2d3c;
	text-align: center;
	padding: 55px 20px 10px;

}

.messenger_interlocutor-info span {
	color: #9ca1b2;
	font-size: 14px;
	letter-spacing: 0.42px;
	display: block;
	margin-bottom: 19px;
}

.messenger_interlocutor-info_photo > img {
	width: 124px;
	height: 124px;
}

.messenger_interlocutor-info_photo {
	margin-bottom: 39px;
}

.messenger_interlocutor-info_name {
	color: #ffffff;
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 0.44px;
	margin-bottom: 9px;
}

.messenger_interlocutor-info_position {
	color: #9ea3b4;
	font-size: 16px;
	letter-spacing: 0.32px;
	margin-bottom: 27px;
}

.messenger_interlocutor-info_specific {
	color: #9ca1b2;
	font-size: 14px;
	line-height: 28px;
	letter-spacing: 0.42px;
	margin-bottom: 55px;
}

.messenger_interlocutor-info_email, 
.messenger_interlocutor-info_phone, 
.messenger_interlocutor-info_adress,
.messenger_interlocutor-info_organization {
	color: #ffffff;
	font-size: 16px;
	letter-spacing: 0.48px;
	margin-bottom: 30px;
}

.messenger_chat {
	height: 853px;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	padding: 28px 25px;
	overflow: auto;
	margin-top: 20px;
}

.messenger_chat_inner {
	max-height: 750px;
	overflow: auto;
}

.messenger_chat_write_message {
	margin-top: 40px;
	width: 100%;
}

.messenger_chat_write_message_textarea {
	border-radius: 10px;
	border: 1px solid rgba(156, 161, 178, 0.3);
	background-color: #404359;
	color: #9ca1b2;
	font-size: 16px;
	letter-spacing: 0.32px;
	outline: none;
	padding:16px 24px;
	resize: none;
	overflow: visible;
	display: block;
	height: auto;
	width: 100%;
}

.messenger_chat_sender_avatar > img {
	width: 56px;
	margin-left: 21px;
}

.messenger_chat_sender {
	padding: 5px 0;
}

 .messenger_chat_sender_mess {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
} 

.messenger_chat_sender_mess_text {
	padding: 20px;
	color: #ffffff;
	font-size: 16px;
	letter-spacing: 0.32px;
	box-shadow: 0 3px 80px rgba(158, 163, 180, 0.3);
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #2196f3;
}

.messenger_chat_sender_mess_date {
	text-align: right;
	padding-right: 77px;
	padding-top: 10px;
	color: #9ca1b2;
	font-size: 14px;
	letter-spacing: 0.42px;
}

.messenger_chat_recipient {
	padding: 5px 0;
}

.messenger_chat_recipient_mess {
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
}
.messenger_chat_recipient_avatar > img {
	width: 56px;
	margin-right: 21px;
}
.messenger_chat_recipient_mess_text {
	padding: 20px;
	color: #ffffff;
	font-size: 16px;
	letter-spacing: 0.32px;
	box-shadow: 0 3px 80px rgba(158, 163, 180, 0.3);
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #404359;
}
.messenger_chat_recipient_mess_date {
	padding-left: 77px;
	padding-top: 10px;
	color: #9ca1b2;
	font-size: 14px;
	letter-spacing: 0.42px;
}
.messenger_contacts .aside {
	overflow: auto;
	height: 765px;
}

.body {
	
}

.signUp {
	width: 600px;
	margin: 100px auto;
	padding:20px;
	background: #5c617d;
	box-shadow: 0 3px 50px rgba(158, 163, 180, 0.3);
	border-radius: 10px;
}

.signUp > h2 {
	text-align: center;
	margin-bottom: 30px;
	font-size: 30px;
	color: white;
}

.form {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.email, .password, .name {
	width: 400px;
	margin-bottom: 10px;
	background: #2f3242;
	padding:10px 10px 10px 10px;
	border-radius: 10px;
	border:1px solid white;
	color: #757da4;
	outline: none;
}

.formError {
	color: red;
	margin-bottom: 45px;
	font-size: 18px;
}

.btnSignUp {
	padding: 10px 25px;
	border-radius: 10px;
	color: #fff;
	background: #2f3242;
	border:1px solid #fff;
	outline: none;
	cursor: pointer;
	position: absolute;
	bottom: 0;
}

.inner {
	
}

.popup {
	position: absolute;
	background: #0000009e;
	top: 0;
	left:0;
	right: 0;
	bottom: 0;
	z-index: 10;
	display: flex;
	justify-content: center;
}

.users {
	border-radius: 10px;
	width: 590px;
	background: #2e3242;
	padding:20px;
	display: flex;
	flex-direction: column;
	position: fixed;
	height: 640px;
	top: 50px;
}

.users > h2 {
	color: #fff;
	text-align: center;
}

.users button {
 padding: 10px;
 background: #5c617d;
 border-radius: 10px;
 border:1px solid #fff;
 outline: none;
 cursor: pointer;
 transition: all .2s;
}

.users button:hover{
	background: #6b7092;
}

.table {
	margin:20px auto;
}

.table tr {
	color: #fff;
	border: 1px solid #3d4259;
}

.table tr th {
	border: 1px solid #3d4259;
}

.table tr td {
	border: 1px solid #3d4259;
	padding: 5px;
	cursor: pointer;
}

.table tr:hover > td{
	background: #3d4259;
}

.users_table_wrapper {
	overflow: auto;
	height: 500px;
	padding-right: 10px;
	margin-bottom: 15px;
	margin-top: 15px;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.overlay_menu_btn_close {
	position: absolute;
	top:15px;
	right: 15px;
	width: 23px;
	height: 23px;
	cursor: pointer;
}

.overlay_menu_btn_close:before {
	content: '';
	background: #3564fc;
	position: absolute;
	height: 1px;
	width: 31px;
	top:11px;
	left: -4px;
	transform: rotate(-45deg);
}

.overlay_menu_btn_close:after {
	content: '';
	background: #3564fc;
	position: absolute;
	height: 1px;
	width: 31px;
	top:11px;
	left: -4px;
	transform: rotate(45deg);
}

.users_inner {
	display: flex;
	align-items: center;
}

.users_inner > span {
	color: #fff;
	font-size: 18px;
	margin-left: 75px;
}

.textInfo {
	text-align: center;
	color: #fff;
}

.wrapper {
	width: 100%;
}

.text_white {
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.32px;
}

.text_gray {
	color: #9ea3b4;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.28px;
}

.body_projects {
	position: relative;
}

// === Forms ====

.popup_wrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(46, 50, 66, 0.64);
	z-index: 10;
}

.body_projects_popup {
	background: #757ca4;
	width: 600px;
	margin: 10px auto;
	padding: 30px 10px;
	border-radius: 10px;
	position: fixed;
	left: 0;
	right: 0;
	top: 50%;
	transform: translate(0, -50%);
	& h2 {
		color: #fff;
		text-align: center;
		margin-bottom: 30px;
	}

	& .body_projects_popup_form {
		display: flex;
		flex-direction: column;
		padding: 0 40px;
		color: #fff;
	}
}

input[name="title"] {
	margin-left: 67px;
}
input[name="company"] {
	margin-left: 22px;
}
input[name="cost"] {
	margin-left: 64px;
}
input[name="deadline"] {
	margin-left: 28px;
}
input[name="status"] {
	margin-left: 48.5px;
}
select[name="status"] {
	margin-left: 49px;
}
input[name="progress"]{
	margin-left: 29.5px;
}
input[name="timeSpent"]{
	margin-left: 12px;
}

input[name="title"], input[name="company"],
input[name="cost"],  input[name="deadline"],
input[name="status"], select[name="status"],
input[name="progress"],  input[name="timeSpent"] {
	margin-bottom: 10px;
	width: 350px;
	padding: 7px;
	border-radius: 5px;
	outline: none;
	border: 1px solid #fff;
}

input[type="button"] {
	width: 200px;
	margin: 5px auto;
	padding: 10px 0;
	outline: none;
	border-radius: 10px;
	border: 1px solid #fff;
	cursor: pointer;
	background: #757ca4;
	color: #fff;
	font-size: 18px;
	transition: all .2s;
	&:hover {
		background: #63698d;
	}
}

.FormLinks {
	font-size: 18px;
	padding-bottom: 5px;
	&:hover {
		text-decoration: underline;
	}
}

.body_projects_table {
	width: 95%;
	margin: 0 auto;
	& .table_head > th{
		color: #9ea3b4;
		font-family: 'Montserrat', sans-serif;
		font-size: 16px;
		font-weight: 400;
		letter-spacing: 0.32px;
		padding-top: 57px;
		padding-bottom: 20px;
		text-align: left;
		&:first-child {
			padding-left: 52px;
		}
		&:nth-child(5) {
			width: 200px;
		}
	}

	& .table_content {
		height: 117px;
		border-radius: 5px;
		background-color: #3a3e52;
		margin-bottom: 24px;

		& > td {
			border-bottom: 24px solid #2e3242;

		}
	}

	& .project_table-item {
		padding-right: 20px;
		position: relative;
	}

	& .color_detector_left {
		position: absolute;
		width: 4px;
		height: 100%;
		background-color: #2196f3;
		top: 0;
		left: -4px;
		border-bottom-left-radius: 4px;
		border-top-left-radius: 4px;
	}

	& .project_table-item_title {
		padding-left: 52px;
	}

	& .project_table-item_company {
		padding-left: 52px;
	}

	& .project_table-item_progress {
		display: flex;
		align-items: center;
		width: 285px;
		justify-content: flex-end;
	}

	& .project_table-item_progress-scale {
		width: 237px;
		height: 8px;
		border-radius: 4px;
		background-color: rgba(158, 163, 180, .3);
		margin-left: 16px;
		position: relative;
		& .project_table-item_progress-scale_before {
			width: 40%;
			height: 8px;
			border-radius: 4px;
			background-color: #2196f3;
			position: absolute;
		}
	}

	& .project_table-item_assigned {
		display: flex;
		align-items: center;
		position: relative;
		padding-right: 10px;

		& .project_table-item_assigned_avatar {
			width: 42px;
			height: 42px;
			border-radius: 50%;
			background: #c4c4c4;
			margin-right: 25px;
			& > img {
				width: 100%;
			}
		}

		& .project_table-item_assigned_settings {
			position: absolute;
			right: 0;
			padding: 4px;
			cursor: pointer;
			transition: all .3s;
			&:hover img {
	            transition: all .3s;
				-moz-transform: rotate(180deg); /* Для Firefox */
				-ms-transform: rotate(180deg); /* Для IE */
				-webkit-transform: rotate(180deg); /* Для Safari, Chrome, iOS */
				-o-transform: rotate(180deg); /* Для Opera */
				transform: rotate(180deg);
				height: 20px;
		}
		}

		& .project_table-item_assigned_popup {
			position: absolute;
			background: #2e3241;
			padding: 15px 30px 15px 30px;
			color: #fff;
			font-size: 20px;
			border-radius: 5px;
			transition: all .2s;
		}



		& .project_table-item_assigned_popup_update {
			margin-bottom: 9px;
			cursor: pointer;
			&:hover {
				text-shadow: 0 0 10px #fff;
			}
		}

		& .project_table-item_assigned_popup_remove {
			cursor: pointer;
			&:hover {
				text-shadow: 0 0 10px #fff;
			}
		}
	}
}
